body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(22, 161, 115);
}

header{
	padding: 1rem;
	
	color: white;
	text-align: center;
}
header, h2{
	color: chocolate;
	padding-top: 0%;
} 

nav{
	display: flex;
	justify-content: center;
	gap: 100px;
	padding: 1.5rem;
	background-color: black;
	
	width: 100%;
}
a{
	text-decoration: none;
	color: white;
	
}
nav a:hover{
	font-size: 1.005pc;
	color: chocolate;
	font-weight: 1%;
}

footer{
	text-align: center;
	padding: 1rem;
	color: black;
	font-weight: bold;
	bottom: 0;
	width: 100%;
	position: fixed;
	background-color: aliceblue;
}

main{
	padding: 8rem;
	text-align: center;
}

form{
	max-width: 700px;
	margin: 2rem auto;
	background-color: aliceblue;
	padding: 1rem;
	
	border: 1px solid rgb(219, 208, 208);
	border-radius: 0.5rem;
	font-weight: bold;
}

button{
	margin: 30px;
	height: 50%;
	width: 15%;
	background-color: goldenrod;
	font-size: 20px;
	border: 3px solid rgb(182, 163, 163);
	border-radius: 30px;
}
button:hover{
	font-size: large;
	color: aliceblue;
}